nodered/node-red-example-flow.json
[
    {
        "id": "6873c08312276c95",
        "type": "server-state-changed",
        "z": "ba6c8bb20b9aa4cc",
        "name": "",
        "server": "7b975ed1.2c58d",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "light.kueche_lights",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 220,
        "y": 140,
        "wires": [
            [
                "bfd318a07b2568f7"
            ],
            []
        ]
    },
    {
        "id": "bfd318a07b2568f7",
        "type": "function",
        "z": "ba6c8bb20b9aa4cc",
        "name": "wake&display",
        "func": "var out_msgs = \n[\n  {payload: \"pageType~popupLight~Kueche~light.kueche_lights\"} \n]\n\n\n\nreturn [out_msgs]",
        "outputs": 1,
        "noerr": 0,
        "initialize": "if (flow.get(\"ns-currentPage\") === undefined) {\n    flow.set(\"ns-currentPage\", 0)\n}",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 140,
        "wires": [
            [
                "4d9bb7275b2766b4"
            ]
        ]
    },
    {
        "id": "4d9bb7275b2766b4",
        "type": "mqtt out",
        "z": "ba6c8bb20b9aa4cc",
        "name": "",
        "topic": "cmnd/tasmota_nspkueche/CustomSend",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "aeedd16f1f009dd0",
        "x": 880,
        "y": 140,
        "wires": []
    },
    {
        "id": "82f69bb2a315cff9",
        "type": "function",
        "z": "ba6c8bb20b9aa4cc",
        "name": "send notification",
        "func": "var out_msgs = \n[ {payload:\"pageType~popupNotify\"}, \n  {payload: \"entityUpdateDetail~updateBerryNoYes~Notification~65535~No~65535~Yes~65535~\"+msg.payload+\"~65535~4\"} \n]\n\nreturn [out_msgs]",
        "outputs": 1,
        "noerr": 0,
        "initialize": "if (flow.get(\"ns-currentPage\") === undefined) {\n    flow.set(\"ns-currentPage\", 0)\n}",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 200,
        "wires": [
            [
                "d10a4ffac527a5d1"
            ]
        ]
    },
    {
        "id": "d10a4ffac527a5d1",
        "type": "mqtt out",
        "z": "ba6c8bb20b9aa4cc",
        "name": "",
        "topic": "cmnd/tasmota_NsPanelTerrasse/CustomSend",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "aeedd16f1f009dd0",
        "x": 900,
        "y": 200,
        "wires": []
    },
    {
        "id": "74da15741b812983",
        "type": "inject",
        "z": "ba6c8bb20b9aa4cc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "some text",
        "payloadType": "str",
        "x": 300,
        "y": 200,
        "wires": [
            [
                "82f69bb2a315cff9"
            ]
        ]
    },
    {
        "id": "7b975ed1.2c58d",
        "type": "server",
        "name": "HomeAssistant",
        "version": 2,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30"
    },
    {
        "id": "aeedd16f1f009dd0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.75.30",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]
